<div class="container text-white text-center mt-4">
  <img src="../../assets/images/LogoFCEBlanco.svg" alt="Logo FCEUnimet" class="img-fluid" style="max-width: 250px;width: 100%;">
  <p>Aplicación creada por la FCEUnimet 2019-2020<br>
    Aprobada por la Direccion de Finanzas y la Dirección de Apoyo Socioeconómico Estudiantil (DASE)<br>
    <small class="form-text text-muted">Ayudanos a mejorar la calculadora, envía tus sugerencias,
      errores o faltas a ceum@unimet.edu.ve<br>
      Desarrollado por Alejandro Fariña<br>
      VERSION 2.0.1
    </small>
    <small><a routerLink="/admin">Click para versión de Administrador</a></small> -
    <small><a role="button" >Cerrar Sesión</a></small>
    <!-- (click)="authService.signOut()" -->
  </p>
</div>
