<div class="modal-dialog modal-lg modal-dialog-centered rounded-0">
  <div class="modal-content rounded-0">
    <div class="modal-header bg-success rounded-0">
      <h5 class="modal-title text-white" id="exampleModalLabel">Modificar parámetros</h5>
      <button (click)='onSalir()' type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form #f="ngForm">
    <div class="modal-body">
      <div *ngIf="paramsLoaded">
        <p>Última modificación el <strong>{{parametros.fechaIngreso | date:'d/M/YY - hh:mm aaa'}}</strong> por <strong>{{parametros.ultimaActualizacion}}</strong></p>
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <div class="form-floating mb-3">
            <input [(ngModel)]="parametros.tasa" name="tasa" type="number" class="form-control" id="floatingInput" placeholder="">
            <label for="floatingInput">Tasa de cambio (Bs/$)</label>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="form-floating mb-3">
            <input type="datetime-local" [(ngModel)]='fechaPlaceholder' name="fechaVencimiento"
              value="2018-07-22" [min]="fechaMin" [max]="fechaMax" class="form-control" id="floatingInput">
            <label for="floatingInput">Fecha de vencimiento tasa</label>
            <!--  -->
          </div>
        </div>
      </div>
      <a target="_blank" href="http://www.bcv.org.ve/">Click para acceder a la web del BCV</a>
      <hr>
      <p>NOTA: Utilizar punto <strong>(.)</strong> para los decimales y <strong>no</strong> colocar separadores de miles.</p>
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <h5 class="mb-3">Pregrado</h5>
          <div class="form-floating mb-3">
            <input [(ngModel)]="parametros.asignaturaPre" name="asignaturaPre" type="number" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Costo de la asignatura en $(mensual)</label>
          </div>
          <div class="form-floating mb-3">
            <input [(ngModel)]="parametros.inscripcionPre" name="inscripcionPre" type="number" class="form-control" placeholder="name@example.com">
            <label for="floatingInput">Costo de la inscripción en $</label>
          </div>
          <div class="form-floating mb-3">
            <input [(ngModel)]="parametros.seguroPre" name="seguro" type="number" class="form-control" placeholder="name@example.com">
            <label for="floatingInput">Costo del seguro en $ (mensual)</label>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <h5 class="mb-3">Postgrado</h5>
          <p>En desarrollo...</p>
          <div class="form-floating mb-3">
            <input [(ngModel)]="parametros.asignaturaPos" name="asignaturaPos" type="number" class="form-control" placeholder="name@example.com">
            <label for="floatingInput">Costo de la asignatura en $(mensual)</label>
          </div>
          <div class="form-floating mb-3">
            <input [(ngModel)]="parametros.inscripcionPos" name="inscripcionPos" type="number" class="form-control" placeholder="name@example.com">
            <label for="floatingInput">Costo de la inscripción en $</label>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="float-start btn btn-secondary rounded-0" (click)='onSalir()' data-bs-dismiss="modal">Cancelar</button>
      <button type="button" class="float-end btn btn-success rounded-0" (click)='onSubmit()' data-bs-dismiss="modal">Guardar modificaiones</button>
    </div>
  </form>
  </div>
</div>
